---
import { APP_BLOG } from 'astrowind:config';

import Grid from '~/components/blog/Grid.astro';

import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Post, Widget } from '~/types';

export interface Props extends Widget {
  title?: string;
  linkText?: string;
  linkUrl?: string | URL;
  information?: string;
  count?: number;
}

const {
  title = await Astro.slots.render('title'),
  information = await Astro.slots.render('information'),

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const posts: Post[] = [
  {
    title: 'Crear un proyecto',
    id: '1',
    slug: 'Start you journey',
    image: '~/assets/images/studio-template-picker-f02f976e807aac1da28382d1d0ba1622.png',
    publishDate: new Date(),
    permalink: 'https://www.8thwall.com/docs/es/studio/getting-started/create-project/',
  },
  {
    title: 'Espacios',
    id: '2',
    slug: 'Creat un espacio',
    image: '~/assets/images/spaces-intro-acc81057a1bf46548b62131c6ceecc88.gif',
    publishDate: new Date(),
    permalink: 'https://www.8thwall.com/docs/es/studio/essentials/spaces/',
  },
  {
    title: 'Animaciones',
    id: '3',
    slug: 'Agrégale animaciones',
    publishDate: new Date(),
    image: '~/assets/images/animation-component-7d5a879a5ce9a86649efa89a9bdda63d.png',
    permalink: 'https://www.8thwall.com/docs/es/studio/guides/animation/',
  },
];
---

{
  APP_BLOG.isEnabled ? (
    <WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container as string} bg={bg}>
      <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
        {title && (
          <div class="md:max-w-sm">
            <h2
              class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
              set:html={title}
            />
          </div>
        )}

        {information && <p class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information} />}
      </div>

      <Grid posts={posts} />
    </WidgetWrapper>
  ) : (
    <Fragment />
  )
}
